* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 870px;
  width: 100%;
  margin: 0 auto;
}

.navbar {
  max-width: 870px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: #BF7506;
  margin-left: 24px;
  font-size: 16px;
  line-height: 150%;
}

.nav-link.active {
  font-weight: 700;
  font-size: 16px;
}

.header {
  display: flex;
  align-items: center;
  padding: 70px 0;
}

.header-text {
  margin-left: 27px;
}

.header-strong {
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
}

.header-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  letter-spacing: -0.02em;
  margin-top: 8px;
  margin-bottom: 24px;
}

.header-primary {
  color: #BF7506;
}

.header-photo {
  width: 260px;
  border-radius: 50%;
}

.header-links {
  display: flex;
  align-items: center;
}

.social-list {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.social-link {
  display: inline-block;
  padding: 8px;
}

.cv-dowload {
  margin-left: 55px;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 7px 10px 7px 4px;
  color: #211812;
  background: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  border-bottom: 2px solid #BF7506;
}

.cv-icon {
  margin-right: 4px;
}

/* SECTION */
.section-heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #BF7506;
  background-size: cover;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  max-width: 400px;
  margin-bottom: 40px;
}

.card-img {
  width: 100%;
  border-radius: 4px;
}

.card-text-wraper {
  padding: 16px;
}

.card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  letter-spacing: -0.02em;
  color: #BF7506;
  margin-top: 0;
  margin-bottom: 8px;
}

.tags {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  margin-right: 4px;
  padding: 8px 0;
}

.tag {
  padding: 4px 8px;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #211B12;
  background: #FFFFFF;
  border: 1px solid #DD9C3C;
  border-radius: 4px;
  margin: 0 4px 4px 0;
}

.card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #211B12;
}

.card-buttons {
  display: flex;
  align-items: center;
}

.card-button {
  display: flex;
  align-items: center;
  padding: 7px 8px;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #211B12;
  border-bottom: 2px solid #BF7506;
  margin-right: 25px;
}

.card-button-icon {
  margin-right: 4px;
}

.developer {
  position: relative;
  padding: 80px 0 30px 0;
  display: flex;
  align-items: center;
}

.developer-photo {
  width: 360px;
  height: 360px;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 20px;
}

.developer-about {
  margin-left: 55px;
  margin-bottom: 60px;
}

.developer-hello {
  font-weight: 400;
  font-size: 24px;
  line-height: 135%;
  letter-spacing: -0.02em;
  color: #211B12;
}

.developer-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #BF7506;
  margin-top: 4px;
  margin-bottom: 16px;
}

.developer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #211B12;
}

.motto {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #DD9C3C;
  margin: 16px 0;
}

.developer-sign {
  position: absolute;
  left: 30px;
  top: 120px;
  max-width: 140px;
  min-width: 20px;
  padding-left: 100%;
  transform: rotate(30deg);
  opacity: .7;
}

.skills-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  letter-spacing: -0.02em;
  color: #211B12;
}

.form-container {
  max-width: 460px;
  margin: auto;
}

.feedback {
  position: relative;
  padding: 80px 0 160px;
}

.feedback-bender {
  position: absolute;
  right: 0;
  bottom: 20%;
  width: 20%;
}

.feedback-farnsworth {
  display: none;
}

.input-group {
  position: relative;
  padding-top: 10px;
  margin-bottom: 24px;
}

.feedback-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #211B12;
}

.input-label {
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #83807C;
  padding: 0 8px;
  background: #FFFFFF;
  top: 0;
  left: 16px;
}

.input {
  border: 3px solid #E0DEDC;
  border-radius: 4px;
  width: 100%;
  height: 56px;
  padding: 4px 12px;
  font-size: 24px;
}

.textarea {
  min-height: 140px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.submit-button {
  padding: 7px 8px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #211812;
  background: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  border: none;
  border-bottom: 2px solid #BF7506;
  cursor: pointer;
}

.button-group {
  display: flex;
  justify-content: flex-end;
}